<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sarah Ledford</title>
    <meta content="My name is Sarah Ledford, and I'm a full-stack web developer. Come check out my resume and take a look at some of the things that I've had the chance to create!" name="description">
    <meta content="web development, full-stack web developer, resume, portfolio, projects, project, link, links, coding, development, programming, professional" name="keywords">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i&subset=cyrillic" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- Vendor CSS Files -->
    @*<link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">*@



    <!-- Template Main CSS File -->
    @*<link href="~/Content/assets/css/style.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/custom.min.css" rel="stylesheet" />*@

    @Styles.Render("~/Content/css")

    <!-- =======================================================
    * Template Name: Lonely - v2.3.1
    * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-lonely/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column align-items-center justify-content-center">
        <a style="display:none;" href='https://www.freepik.com/vectors/background'>Background vector created by coolvector - www.freepik.com</a>
        <h1 class="hi">Hi, I'm Sarah!</h1>
        <h2>I'm a full stack web developer</h2>
        <a href="#about" class="btn-get-started scrollto"><i class="icofont-simple-down"></i></a>
    </section><!-- End Hero -->
    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="@Url.Action("Index","Home")"><span>Sarah Ledford</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            @RenderSection("nav", false)


        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= About Section ======= -->
        @RenderBody()
        @*<div id="contactForm">
                @Html.Partial("ContactAjax", new PersonalSiteMVC.UI.MVC.Models.ContactViewModel())
            </div>
            <div id="contactConfirm">
                @Html.Partial("EmailConfirm", new PersonalSiteMVC.UI.MVC.Models.ContactViewModel())
            </div>*@


    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Sarah Ledford </span></strong>@DateTime.Now.Year. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-lonely/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>, converted for MVC by Sarah Ledford
            </div>
        </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    @RenderSection("diffScripts", false)
    <!-- Vendor JS Files -->
    @*<script src="~/Content/assets/vendor/jquery/jquery.min.js"></script>*@
    @*<script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="~/Content/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
            <script src="~/Content/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
            <script src="~/Content/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
            <script src="~/Content/assets/vendor/counterup/counterup.min.js"></script>
            <script src="~/Content/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
            <script src="~/Content/assets/vendor/venobox/venobox.min.js"></script>

            <script src="~/Content/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
            <!-- Template Main JS File -->
            <script src="~/Content/assets/js/main.min.js"></script>
            <script src="~/Content/assets/js/validate.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

        <script src="~/Content/assets/vendor/jquery.lettering-0.6.1.min.js"></script>*@
    @Scripts.Render("~/bundles/js")

    @RenderSection("scripts", false)

    <script>

        $("#ContactCreateForm").submit(function (e) {
            var formData = $(this).serializeArray();
            e.preventDefault();
            if ($("#ContactCreateForm").valid()) {
            $.ajax({
                url: '@Url.Action("ContactAjax", "Home")',
                type: 'POST',
                data: formData,
                datatype: 'json',
                success: function (data) {
                    $("#contactForm").hide();
                    $("#contactConfirm").show();
                }

            });
            }
        });

        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })

        $(document).ready(function () {
            $(".text-light").lettering('words');
            $(".hi").lettering();
        });
    </script>
</body>

</html>